<div id="board" class="container text-center">
  <h2>Board</h2>
  <span id="flop">
    <%= image_tag 'PNG/gray_back.png', size: "45x90", id: "flop0" , data: {selected: true}  %>
    <%= image_tag 'PNG/gray_back.png', size: "37x90", id: "flop1" %>
    <%= image_tag 'PNG/gray_back.png', size: "37x90", id: "flop2" %>  
  </span><%# End of flop %>

  <span id="turn">
    <%= image_tag 'PNG/gray_back.png', size: "37x90", id: "turn" %>
  </span><%# End turn %>

  <span id="river">
    <%= image_tag 'PNG/gray_back.png', size: "37x90", id: "river" %>
  </span><%# End River> %>

</div>
