<h1>Show Hands</h1>


<%= link_to "back", game_path(@game.id) %>
<%= link_to 'Destroy', game_hand_path(@game.id, @hand.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<div class="container text-center">
  <h2>Table Cards</h2>
  <p>
    <span>result: <%= @hand.result %></span>
  </p>

  <h2>Board</h2>
  <% @hand.table_cards.each do |card| %>
    <span>
      <%= card_image_tag(card, size: "37x75")  %>
    </span>
  <% end %>
  <p></p>
  <h2>Notes</h2>
  <p> 
    <%= @hand.note %>
  </p>
</div>
