<table class="table table-striped table-hover table-clickable table-bordered">
  <thead class="thead-dark">
    <th>id</th>
    <th>Result</th>
    <th>Table Cards</th>
    <th>Hole Cards</th>
    <th>Players</th>
  </thead>
  <tbody>
    <% game.hands.each do |hand| %>
    <tr>
      <td style="display:none;"><%= link_to "", game_hand_path(game.id ,hand)  %></td>
      <td><%= hand.id %></td>
      <td><%= hand.result %></td>
      <td>
        <% hand.table_cards[0..4].each do |card| %>
	  <span><%= card_image_tag(card, size:"45x90") %><span>
	<% end %>
      </td>
      <td>
        <% hand.table_cards[5..6].each do |card| %>
	  <span><%= card_image_tag(card, size:"45x90") %><span>
	<% end %>
      </td>
      <td>
        <% game.players.each do |player| %>
	  <div class="span3">
	    <%= player.name %>
	  </div>
	<% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
